.detail-image {
    display: block;
    float: left;
    background-color: rgba(0, 0, 0, 0.507);
    margin: 20px;
    border-radius: 600px;
}

.detailList {
    height: 100%;
    width: 40vw;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.29);
    margin: 20px;
}

.detail {
    color: white;
    
}

.detail-image img {
    width: 100%;
    height: auto;
}
.detail-button{
    margin-top: 5px;
    margin-bottom: 5px;
}
.detail-button button{
    font-family:'Roboto Mono', monospace;
    background-color: black;
    color: white;
}