.cart{
    width: 3rem;
    height: auto;
}

.cart img{
    width: 100%;
}
.container-cart{
    background-color: rgb(159, 152, 160);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    width: 100%;
}
.cart-product{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.cart-product img{
    width: 10vw;
}
.cart-product div{
    margin: 0.5rem;
}
