.cart{
    width: 50px;
    height: auto;
    margin-left: 50px;
    margin-top: 8px;
}

.cart img{
    width: 100%;
}
.container-cart{
    color: rgb(0, 0, 0);
    width: 20vw;
}
.cart-product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-product img{
    width: 10vw;
}
