.card{
    background-color: black;
}
.card-item img{
    width: 100%;
    height: auto;
}
.card-item button{
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 2px;
    text-decoration: none;
}