.card{
    background-color: black;
}
.card-item img{
    width: 100%;
    height: auto;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    margin: 10px;
    background-color: rgb(164, 25, 203, 0.6);
    border-radius: 10px;
}
.counter p{
    margin-left: 10px;
    margin-right: 10px;
}