.cartPage{
    background-color: rgba(0, 0, 0, 0.466);
    width: 100%;
}

.cart-item {
    background-color: rgba(152, 147, 147, 0.393);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 2rem;
    border-radius: 40px;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-img img {
    width: 80%;
}
.item-desc {
    width: 100%;
    height: auto;
}

.item-desc p {
    font-size: 30px;
    color: white;
}

.item-quantity {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-quantity p, span {
    font-size: 20px;
    color: white;
    margin-left: 5px;
}

.item-price {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-price p, span {
    font-size: 20px;
    color: white;
}

.item-button {
    width: 100%;
    height: auto;
}

.item-button button {
    background-color: black;
    color: white;
}

.button-continue {
    width: 100%;
    height: auto;
}

.button-continue button {
    background-color: black;
    color: white;
    text-transform: none;
}

.form-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}

.form-content>button {
    align-self: center;
    margin-top: 10px;
}

.form-content>div {
    margin-top: 10px;
}

.cart-footer {
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color: rgba(85, 7, 73, 0.5);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 40px;
}

.details {
    height: auto;
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 50px;
}
.subtotal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-right: 1px solid black;
}
.subtotal p{
    font-size: 20px;
}
.subtotal span{
    margin-left: 20px;
    margin-right: 20px;
}
.total{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.total p{
    font-size: 20px;
}
.total span{
    margin-left: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}