.cart-item {
    background-color: rgb(152, 147, 147, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 2rem;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-img img {
    width: 100%;
}

.item-name {
    width: 100%;
    height: auto;
}

.item-name p {
    font-size: 1.5rem;
    color: white;
}

.item-desc {
    width: 100%;
    height: auto;
}

.item-desc p {
    color: white;
}
.item-quantity{
    font-size: 1.5rem;
    color: white;
}

.item-button {
    width: 100%;
    height: auto;
}

.item-button button {
    background-color: black;
    color: white;
}

.button-continue {
    width: 100%;
    height: auto;
}

.button-continue button {
    background-color: black;
    color: white;
    text-transform: none;
}

.form-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}
.form-content > button{
    align-self: center;
    margin-top: 10px;
}
.form-content > div{
    margin-top: 10px;
}
.cart-footer{
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color:rgba(85, 7, 73, 0.5);
    margin-top: 2rem;
}
.details{
    display: flex;
    justify-content: center;
    color: white;
}
.details > div{
    margin-left: 1rem;
    margin-right: 1rem;
}
.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
align-items: center;
}