.navbar{
    margin: auto;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
li{
    margin-left: 20px;
    margin-right: 20px;
}
li button{
    width: 200px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(146, 7, 226, 0.386);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    box-shadow: 2px 5px 5px rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
}
.mixin-set [data-augmented-ui] {
    width: 1400px;
    height: 60px;
    margin-top: 20px;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgba(95, 92, 6, 0.385));
    border-radius: 10px;
  }
img{
    width: 10vw;
    height: auto;
}
