.navbar{
    margin: auto;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 700px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
li{
    margin-left: 20px;
    margin-right: 20px;
}
li button{
    width: 100px;
}
.mixin-set [data-augmented-ui] {
    width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom right, rgb(233, 2, 254), rgb(203, 7, 7));
  }