.scanlines{
    background-image: url(/public/scanlines.png);
    background-repeat: repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    animation: scanAnim 2s infinite;
    animation-timing-function: linear;
    pointer-events: none;
}
